@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /**  DEFAULT - LIGHT THEME  */
  :root,
  .light {
    --hue: 195;

    --primary: var(--hue) 55 25;
    --secondary: var(--hue) 100 90;
    --accent: var(--hue) 80 30;
    --accent-hover: var(--hue) 80 35;

    --foreground: var(--hue) 50 5;
    --foreground-muted: var(--hue) 20 60;
    --background: var(--hue) 100 98;

    --border: var(--hue) 10 85;
    --shadow: var(--primary);

    /*--- Elements with backgrounds, independent from "inverted" sections ---*/
    --foreground-dark: var(--hue) 50 5;
    --background-light: var(--hue) 100 98;

    --card-title: var(--hue) 80 30;
    --card-foreground-muted: var(--hue) 20 55;

    --button-foreground: var(--hue) 100 98;
    --button-background: var(--hue) 80 30;
    --button-background-hover: var(--hue) 80 35;
  }
  .inverted-theme {
    --primary: var(--hue) 55 80;
    --secondary: var(--hue) 100 10;
    --accent: var(--hue) 90 85;
    --accent-hover: var(--hue) 50 90;

    --foreground: var(--hue) 50 95;
    --foreground-muted: var(--hue) 20 60;
    --background: var(--hue) 80 20;

    --border: var(--hue) 10 15;
    --shadow: var(--primary);
  }

  /**  OPTIONAL - DARK THEME  */
  .dark {
    --primary: var(--hue) 55 75;
    --secondary: var(--hue) 100 10;
    --accent: var(--hue) 80 70;
    --accent-hover: var(--hue) 80 35;

    --foreground: var(--hue) 50 95;
    --foreground-muted: var(--hue) 20 50;
    --background: var(--hue) 100 5;

    --border: var(--hue) 10 20;
    --shadow: var(--primary);

    /*--- Elements with backgrounds, independent from "inverted" sections ---*/
    --foreground-dark: var(--hue) 50 95; /* Bad-naming: inverted in dark-mode */
    --background-light: var(--hue) 70 12; /* Bad-naming: inverted in dark-mode */

    --card-title: var(--hue) 80 70;
    --card-foreground-muted: var(--hue) 20 55;

    --button-foreground: var(--hue) 100 2;
    --button-background: var(--hue) 80 80;
    --button-background-hover: var(--hue) 80 85;
  }
  .inverted-dark {
    --background: var(--hue) 80 8;
  }

  /** SETUP */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html,
  body {
    @apply h-full scroll-p-20 scroll-smooth;
  }

  body {
    @apply grid min-h-svh grid-rows-layout bg-background text-base text-foreground;
  }

  /** TYPOGRAPHY */

  h1,
  .title-main {
    @apply text-4xl font-bold;
  }

  h2,
  .title-section {
    @apply text-3xl font-bold uppercase text-accent;
  }

  .title-category {
    @apply text-lg font-medium;
  }

  p,
  label,
  .body-text {
    @apply text-base font-normal text-foreground;
  }

  button {
    @apply appearance-none border-none;
  }

  input,
  textarea {
    @apply focus:outline-none;
  }
}

@layer components {
  .nav {
    @apply hover:cursor-pointer hover:text-primary;
  }
  .nav-header {
    @apply text-lg uppercase;
  }
  .nav-mobile {
    @apply text-xl uppercase;
  }
  .nav-active {
    @apply text-accent;
  }

  .btn {
    @apply inline-flex flex-row items-center justify-between gap-2 rounded-md px-8 py-4 text-base font-semibold leading-none transition-all duration-150 ease-out hover:gap-8;
  }
  .btn-primary {
    @apply bg-button-background text-button-foreground hover:bg-button-background-hover;
  }

  .card {
    @apply h-full min-h-10 w-full rounded-lg border border-border bg-background-light p-4 shadow-md transition-all hover:scale-[1.02] hover:shadow-lg;
  }
  .title-card {
    @apply text-lg font-bold text-card-title;
  }
  .card-muted {
    @apply text-sm font-light text-card-foreground-muted;
  }

  .form-field {
    @apply flex flex-col gap-1;
  }
  .form-input {
    @apply w-full rounded-md border border-border bg-background-light p-2 text-foreground-dark focus:ring-2 focus:ring-accent;
  }
}

@layer utilities {
  .section-py {
    @apply py-20 md:py-32;
  }
  .section-py-first {
    @apply py-20 pt-10 md:pb-32 md:pt-32;
  }
  .section-full {
    @apply min-h-[calc(100vh-5rem)] content-center;
  }

  .backdrop {
    @apply backdrop-blur-xs backdrop-brightness-50;
  }
}
