/* @import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap"); */

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  :root {
    --primary: var(--color-cyan-800);
    --accent: var(--color-cyan-700);

    --foreground: var(--color-slate-950);
    --foreground-muted: var(--color-slate-500);
    --background: var(--color-white);
    --background-muted: var(--color-sky-50);

    --border: var(--color-cyan-900);
    --shadow: var(--color-cyan-800);

    --background-light: var(--color-white);

    /* TODO: move to component (create an element-component?)? */
    --card-title: var(--color-cyan-800);
    --card-foreground-muted: var(--color-slate-600);

    --button-foreground: var(--color-white);
    --button-background: var(--color-cyan-700);
    --button-background-hover: var(--color-cyan-800);
  }

  .dark {
    --primary: var(--color-cyan-400);
    --accent: var(--color-cyan-300);

    --foreground: var(--color-slate-50);
    --foreground-muted: var(--color-slate-400);
    --background: var(--color-cyan-950);
    --background-muted: var(--color-cyan-900);

    --border: var(--color-slate-500);
    --shadow: var(--color-cyan-500);

    --background-light: var(--color-cyan-950);

    --card-title: var(--color-cyan-300);
    --card-foreground-muted: var(--color-slate-300);

    --button-foreground: var(--color-cyan-950);
    --button-background: var(--color-cyan-50);
    --button-background-hover: var(--color-cyan-100);
  }
}

@theme {
  --font-display: "DM Sans", "sans-serif";

  /* TODO: adapt breakpoints to basic tailwind setup */
  /* --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px; */

  --color-primary: var(--primary);
  --color-accent: var(--accent);

  --color-foreground: var(--foreground);
  --color-foreground-muted: var(--foreground-muted);
  --color-background: var(--background);
  --color-background-muted: var(--background-muted);

  --color-border: var(--border);
  --color-shadow: var(--shadow);

  --color-background-light: var(--background-light);

  --color-card-title: var(--card-title);
  --color-card-foreground-muted: var(--card-foreground-muted);

  --color-button-foreground: var(--button-foreground);
  --color-button-background: var(--button-background);
  --color-button-background-hover: var(--button-background-hover);

  /* --- ANIMATIONS --- */

  --duration-1500: 1s;

  --animate-slide-in-from-left: slide-in-from-left var(--duration-1500);
  --animate-slide-in-from-right: slide-in-from-right var(--duration-1500) ease-out;

  @keyframes slide-in-from-left {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0%);
    }
  }

  @keyframes slide-in-from-right {
    0% {
      opacity: 0;
      transform: translateX(100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0%);
    }
  }
}

@layer base {
  /* TODO: check & update all that */
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  * {
    @apply border-border;
  }

  html,
  body {
    @apply h-full scroll-p-20 scroll-smooth;
  }

  body {
    @apply bg-background font-display text-foreground min-h-svh text-base;
  }

  /** TYPOGRAPHY */

  /* TODO: move classes in components */

  h1,
  .title-main {
    @apply text-4xl font-bold;
  }

  h2,
  .title-section {
    @apply text-accent text-3xl font-bold uppercase;
  }

  .title-category {
    @apply text-lg font-medium;
  }

  p,
  label,
  .body-text {
    @apply text-foreground text-base font-normal;
  }

  button {
    @apply appearance-none border-none;
  }

  input,
  textarea {
    @apply focus:outline-hidden;
  }
}

@layer components {
  /* TODO: check "Utility" layer to add to the existing class */
  .container {
    @apply mx-auto p-4 xl:p-0;
  }

  .nav {
    @apply hover:text-primary hover:cursor-pointer;
  }

  .nav-header {
    @apply text-lg uppercase;
  }

  .nav-mobile {
    @apply text-xl uppercase;
  }

  .nav-active {
    @apply text-accent;
  }

  .btn {
    @apply inline-flex flex-row items-center justify-between gap-2 rounded-md px-8 py-4 text-base font-semibold leading-none transition-all duration-150 ease-out hover:gap-8;
  }

  .btn-primary {
    @apply bg-button-background text-button-foreground hover:bg-button-background-hover;
  }

  .card {
    @apply border-border/10 bg-background-light shadow-shadow/10 h-full min-h-10 w-full rounded-lg border p-4 shadow-md transition-all hover:scale-[1.02] hover:shadow-lg;
  }

  .title-card {
    @apply text-card-title text-lg font-bold;
  }

  .card-muted {
    @apply text-card-foreground-muted text-sm font-light;
  }

  .form-field {
    @apply flex flex-col gap-1;
  }

  .form-input {
    @apply border-border/10 bg-background-light focus:ring-accent w-full rounded-md border p-2 focus:ring-2;
  }

  .section-py {
    @apply py-20 md:py-32;
  }

  .section-py-first {
    @apply py-20 pt-10 md:pb-32 md:pt-32;
  }

  .section-full {
    @apply min-h-[calc(100vh-5rem)] content-center;
  }

  .backdrop {
    @apply backdrop-blur-xs backdrop-brightness-50;
  }
}
