@import "tailwindcss";

/* @custom-variant dark (&:where(.dark, .dark *)); */

@layer base {
  :root {
    --primary: var(--color-amber-500);
  }

  /* .dark {} */
}

@theme {
  --font-display: "DM Sans", "sans-serif";
  --color-primary: var(--primary);
}

@layer base {
  body {
    @apply font-display;
  }
}

/* @layer components {} */
