@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  :root {
    --primary: var(--color-cyan-800);
    --accent: var(--color-cyan-700);

    --foreground: var(--color-slate-950);
    --foreground-muted: var(--color-slate-500);
    --background: var(--color-white);
    --background-muted: var(--color-sky-50);

    --border: var(--color-slate-400);
    --shadow: var(--color-slate-400);

    --background-light: var(--color-white);

    --card-title: var(--color-cyan-800);
    --card-foreground-muted: var(--color-slate-600);

    --button-foreground: var(--color-white);
    --button-background: var(--color-cyan-700);
    --button-background-hover: var(--color-cyan-800);

    --error: var(--color-red-600);
    --success: var(--color-green-700);
  }

  .dark {
    --primary: var(--color-cyan-300);
    --accent: var(--color-cyan-300);

    --foreground: var(--color-slate-50);
    --foreground-muted: var(--color-slate-200);
    --background: var(--color-slate-900);
    --background-muted: var(--color-slate-800);

    --border: var(--color-slate-500);
    --shadow: var(--color-slate-500);

    --background-light: var(--color-slate-700);

    --card-title: var(--color-cyan-300);
    --card-foreground-muted: var(--color-slate-100);

    --button-foreground: var(--color-slate-50);
    --button-background: var(--color-cyan-900);
    --button-background-hover: var(--color-cyan-800);

    --error: var(--color-red-400);
    --success: var(--color-green-400);
  }
}

@theme {
  --font-display: "DM Sans", "sans-serif";

  --color-primary: var(--primary);
  --color-accent: var(--accent);

  --color-foreground: var(--foreground);
  --color-foreground-muted: var(--foreground-muted);
  --color-background: var(--background);
  --color-background-muted: var(--background-muted);

  --color-border: var(--border);
  --color-shadow: var(--shadow);

  --color-background-light: var(--background-light);

  --color-card-title: var(--card-title);
  --color-card-foreground-muted: var(--card-foreground-muted);

  --color-button-foreground: var(--button-foreground);
  --color-button-background: var(--button-background);
  --color-button-background-hover: var(--button-background-hover);

  --color-error: var(--error);
  --color-success: var(--success);

  /* --- ANIMATIONS --- */

  --duration-1500: 1s;

  --animate-slide-in-from-left: slide-in-from-left var(--duration-1500);
  --animate-slide-in-from-right: slide-in-from-right var(--duration-1500) ease-out;

  @keyframes slide-in-from-left {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0%);
    }
  }

  @keyframes slide-in-from-right {
    0% {
      opacity: 0;
      transform: translateX(100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0%);
    }
  }
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  html,
  body {
    @apply h-full scroll-p-20 scroll-smooth;
  }

  body {
    @apply bg-background font-display text-foreground min-h-svh text-base;
  }

  p,
  label,
  .body-text {
    @apply text-foreground text-base font-normal;
  }

  button {
    @apply appearance-none border-none;
  }

  input,
  textarea {
    @apply focus:outline-hidden;
  }
}

@utility container-block {
  @apply container mx-auto px-4;
}
@utility border-block {
  @apply border-border/25 border;
}
@utility shadow-block {
  @apply shadow-shadow/25 shadow-md;
}

@layer components {
  .title-main {
    @apply text-4xl font-bold;
  }

  .title-category {
    @apply text-lg font-medium;
  }

  .section-py {
    @apply py-20 md:py-32;
  }

  .section-py-first {
    @apply py-20 pt-10 md:pt-32 md:pb-32;
  }

  .section-full {
    @apply min-h-[calc(100vh-5rem)] content-center;
  }

  .section-title {
    @apply text-accent text-3xl font-bold uppercase;
  }

  .nav {
    @apply hover:text-primary;
  }

  .nav-header {
    @apply text-lg uppercase;
  }

  .nav-mobile {
    @apply text-xl uppercase;
  }

  .nav-active {
    @apply text-accent;
  }

  .btn {
    @apply inline-flex flex-row items-center justify-between gap-2 rounded-md px-8 py-4 text-base leading-none font-semibold transition-all duration-150 ease-out hover:cursor-pointer hover:gap-8;
  }

  .btn-primary {
    @apply bg-button-background text-button-foreground hover:bg-button-background-hover;
  }

  .card {
    @apply border-block bg-background-light shadow-block h-full min-h-10 w-full rounded-lg p-4 transition-all hover:scale-[1.02] hover:shadow-lg;
  }

  .title-card {
    @apply text-card-title text-lg font-bold;
  }

  .card-muted {
    @apply text-card-foreground-muted font-light;
  }

  .form-field {
    @apply flex flex-col gap-1;
  }

  .form-input {
    @apply border-block bg-background-light focus:ring-accent w-full rounded-md p-2 focus:ring-2;
  }

  .notification-block {
    @apply mx-auto mt-20 max-w-md rounded-md border-2 p-4 text-center;
  }
  .notification__success {
    @apply border-success/50 text-success;
  }
  .notification__error {
    @apply border-error/50 text-error;
  }

  .backdrop {
    @apply backdrop-blur-xs backdrop-brightness-50;
  }
}
